.heroIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background-image: url(../../static/lew-in-hall.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.heroBlog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background-image: url(../../static/lew-in-garden.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.about {
  margin: 5vh 22vh 5vh 22vh;
  text-align: center;
}

@media(max-width: 600px) {
  .about {
    margin: 5vh 5vh 5vh 5vh;
  }
}