header {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 1.25em;
}

.navigation {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 16px;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0px 1em;
}

.navigationItem a {
  color: currentColor;
}

.navigationItem a:hover {
  color: grey;
}

.link {
  text-decoration: none;
}

